/ouputs/
/tools/__pycache__/
/detectron2/utils/__pycache__/
/datasets/__pycache__/
/detectron2/checkpoint/__pycache__/
/detectron2/config/__pycache__/
/detectron2/data/__pycache__/
/detectron2/data/datasets/__pycache__/
/detectron2/data/samplers/__pycache__/
/detectron2/data/transforms/__pycache__/
/detectron2/engine/__pycache__/
/detectron2/evaluation/__pycache__/
/detectron2/layers/__pycache__/
/detectron2/model_zoo/__pycache__/
/detectron2/modeling/__pycache__/
/detectron2/modeling/backbone/__pycache__/
/detectron2/modeling/meta_arch/__pycache__/
/detectron2/modeling/proposal_generator/__pycache__/
/detectron2/modeling/roi_heads/__pycache__/
detectron2/solver/__pycache__/
detectron2/structures/__pycache__/
detectron2/utils/__pycache__/
