/ouputs/
/tools/__pycache__/*
/detectron2/utils/__pycache__/*
/datasets/__pycache__/*
/detectron2/checkpoint/__pycache__/*
/detectron2/config/__pycache__/*
/detectron2/data/__pycache__/*
/detectron2/data/datasets/__pycache__/*
/detectron2/data/samplers/__pycache__/*
/detectron2/data/transforms/__pycache__/*
/detectron2/engine/__pycache__/*
/detectron2/evaluation/__pycache__/*
/detectron2/layers/__pycache__/*
/detectron2/model_zoo/__pycache__/*
/detectron2/modeling/__pycache__/*
/detectron2/modeling/backbone/__pycache__/*
/detectron2/modeling/meta_arch/__pycache__/*
/detectron2/modeling/proposal_generator/__pycache__/*
/detectron2/modeling/roi_heads/__pycache__/*
detectron2/solver/__pycache__/*
detectron2/structures/__pycache__/*
detectron2/utils/__pycache__/*
/.neptune/*

detectron2/__pycache__/__init__.cpython-39.pyc
detectron2/checkpoint/__pycache__/__init__.cpython-39.pyc
detectron2/checkpoint/__pycache__/c2_model_loading.cpython-39.pyc
detectron2/checkpoint/__pycache__/catalog.cpython-39.pyc
detectron2/checkpoint/__pycache__/detection_checkpoint.cpython-39.pyc
detectron2/config/__pycache__/__init__.cpython-39.pyc
detectron2/config/__pycache__/compat.cpython-39.pyc
detectron2/config/__pycache__/config.cpython-39.pyc
detectron2/config/__pycache__/defaults.cpython-39.pyc
detectron2/config/__pycache__/instantiate.cpython-39.pyc
detectron2/config/__pycache__/lazy.cpython-39.pyc
detectron2/data/__pycache__/__init__.cpython-39.pyc
detectron2/data/__pycache__/build.cpython-39.pyc
detectron2/data/__pycache__/catalog.cpython-39.pyc
detectron2/data/__pycache__/common.cpython-39.pyc
detectron2/data/__pycache__/dataset_mapper.cpython-39.pyc
detectron2/data/__pycache__/detection_utils.cpython-39.pyc
detectron2/data/datasets/__pycache__/__init__.cpython-39.pyc
detectron2/data/datasets/__pycache__/builtin_meta.cpython-39.pyc
detectron2/data/datasets/__pycache__/builtin.cpython-39.pyc
detectron2/data/datasets/__pycache__/cityscapes_panoptic.cpython-39.pyc
detectron2/data/datasets/__pycache__/cityscapes.cpython-39.pyc
detectron2/data/datasets/__pycache__/coco_panoptic.cpython-39.pyc
detectron2/data/datasets/__pycache__/coco.cpython-39.pyc
detectron2/data/datasets/__pycache__/lvis_v0_5_categories.cpython-39.pyc
detectron2/data/datasets/__pycache__/lvis_v1_categories.cpython-39.pyc
detectron2/data/datasets/__pycache__/lvis_v1_category_image_count.cpython-39.pyc
detectron2/data/datasets/__pycache__/lvis.cpython-39.pyc
detectron2/data/datasets/__pycache__/pascal_voc.cpython-39.pyc
detectron2/data/samplers/__pycache__/__init__.cpython-39.pyc
detectron2/data/samplers/__pycache__/distributed_sampler.cpython-39.pyc
detectron2/data/samplers/__pycache__/grouped_batch_sampler.cpython-39.pyc
detectron2/data/transforms/__pycache__/__init__.cpython-39.pyc
detectron2/data/transforms/__pycache__/augmentation_impl.cpython-39.pyc
detectron2/data/transforms/__pycache__/augmentation.cpython-39.pyc
detectron2/data/transforms/__pycache__/transform.cpython-39.pyc
detectron2/engine/__pycache__/__init__.cpython-39.pyc
detectron2/engine/__pycache__/defaults.cpython-39.pyc
detectron2/engine/__pycache__/hooks.cpython-39.pyc
detectron2/engine/__pycache__/launch.cpython-39.pyc
detectron2/engine/__pycache__/train_loop.cpython-39.pyc
detectron2/evaluation/__pycache__/__init__.cpython-39.pyc
detectron2/evaluation/__pycache__/cityscapes_evaluation.cpython-39.pyc
detectron2/evaluation/__pycache__/coco_evaluation.cpython-39.pyc
detectron2/evaluation/__pycache__/evaluator.cpython-39.pyc
detectron2/evaluation/__pycache__/fast_eval_api.cpython-39.pyc
detectron2/evaluation/__pycache__/lvis_evaluation.cpython-39.pyc
detectron2/evaluation/__pycache__/panoptic_evaluation.cpython-39.pyc
detectron2/evaluation/__pycache__/pascal_voc_evaluation.cpython-39.pyc
detectron2/evaluation/__pycache__/rotated_coco_evaluation.cpython-39.pyc
detectron2/evaluation/__pycache__/sem_seg_evaluation.cpython-39.pyc
detectron2/evaluation/__pycache__/testing.cpython-39.pyc
detectron2/layers/__pycache__/__init__.cpython-39.pyc
detectron2/layers/__pycache__/aspp.cpython-39.pyc
detectron2/layers/__pycache__/batch_norm.cpython-39.pyc
detectron2/layers/__pycache__/blocks.cpython-39.pyc
detectron2/layers/__pycache__/deform_conv.cpython-39.pyc
detectron2/layers/__pycache__/losses.cpython-39.pyc
detectron2/layers/__pycache__/mask_ops.cpython-39.pyc
detectron2/layers/__pycache__/nms.cpython-39.pyc
detectron2/layers/__pycache__/roi_align_rotated.cpython-39.pyc
detectron2/layers/__pycache__/roi_align.cpython-39.pyc
detectron2/layers/__pycache__/rotated_boxes.cpython-39.pyc
detectron2/layers/__pycache__/shape_spec.cpython-39.pyc
detectron2/layers/__pycache__/wrappers.cpython-39.pyc
detectron2/model_zoo/__pycache__/__init__.cpython-39.pyc
detectron2/model_zoo/__pycache__/model_zoo.cpython-39.pyc
detectron2/modeling/__pycache__/__init__.cpython-39.pyc
detectron2/modeling/__pycache__/anchor_generator.cpython-39.pyc
detectron2/modeling/__pycache__/box_regression.cpython-39.pyc
detectron2/modeling/__pycache__/matcher.cpython-39.pyc
detectron2/modeling/__pycache__/mmdet_wrapper.cpython-39.pyc
detectron2/modeling/__pycache__/poolers.cpython-39.pyc
detectron2/modeling/__pycache__/postprocessing.cpython-39.pyc
detectron2/modeling/__pycache__/sampling.cpython-39.pyc
detectron2/modeling/__pycache__/test_time_augmentation.cpython-39.pyc
detectron2/modeling/backbone/__pycache__/__init__.cpython-39.pyc
detectron2/modeling/backbone/__pycache__/backbone.cpython-39.pyc
detectron2/modeling/backbone/__pycache__/build.cpython-39.pyc
detectron2/modeling/backbone/__pycache__/fpn.cpython-39.pyc
detectron2/modeling/backbone/__pycache__/mvit.cpython-39.pyc
detectron2/modeling/backbone/__pycache__/regnet.cpython-39.pyc
detectron2/modeling/backbone/__pycache__/resnet.cpython-39.pyc
detectron2/modeling/backbone/__pycache__/swin.cpython-39.pyc
detectron2/modeling/backbone/__pycache__/utils.cpython-39.pyc
detectron2/modeling/backbone/__pycache__/vit.cpython-39.pyc
detectron2/modeling/meta_arch/__pycache__/__init__.cpython-39.pyc
detectron2/modeling/meta_arch/__pycache__/build.cpython-39.pyc
detectron2/modeling/meta_arch/__pycache__/dense_detector.cpython-39.pyc
detectron2/modeling/meta_arch/__pycache__/fcos.cpython-39.pyc
detectron2/modeling/meta_arch/__pycache__/panoptic_fpn.cpython-39.pyc
detectron2/modeling/meta_arch/__pycache__/rcnn.cpython-39.pyc
detectron2/modeling/meta_arch/__pycache__/retinanet.cpython-39.pyc
detectron2/modeling/meta_arch/__pycache__/semantic_seg.cpython-39.pyc
detectron2/modeling/proposal_generator/__pycache__/__init__.cpython-39.pyc
detectron2/modeling/proposal_generator/__pycache__/build.cpython-39.pyc
detectron2/modeling/proposal_generator/__pycache__/proposal_utils.cpython-39.pyc
detectron2/modeling/proposal_generator/__pycache__/rpn.cpython-39.pyc
detectron2/modeling/proposal_generator/__pycache__/rrpn.cpython-39.pyc
detectron2/modeling/roi_heads/__pycache__/__init__.cpython-39.pyc
detectron2/modeling/roi_heads/__pycache__/box_head.cpython-39.pyc
detectron2/modeling/roi_heads/__pycache__/cascade_rcnn.cpython-39.pyc
detectron2/modeling/roi_heads/__pycache__/fast_rcnn.cpython-39.pyc
detectron2/modeling/roi_heads/__pycache__/keypoint_head.cpython-39.pyc
detectron2/modeling/roi_heads/__pycache__/mask_head.cpython-39.pyc
detectron2/modeling/roi_heads/__pycache__/roi_heads.cpython-39.pyc
detectron2/modeling/roi_heads/__pycache__/rotated_fast_rcnn.cpython-39.pyc
detectron2/solver/__pycache__/__init__.cpython-39.pyc
detectron2/solver/__pycache__/build.cpython-39.pyc
detectron2/solver/__pycache__/lr_scheduler.cpython-39.pyc
detectron2/structures/__pycache__/__init__.cpython-39.pyc
detectron2/structures/__pycache__/boxes.cpython-39.pyc
detectron2/structures/__pycache__/image_list.cpython-39.pyc
detectron2/structures/__pycache__/instances.cpython-39.pyc
detectron2/structures/__pycache__/keypoints.cpython-39.pyc
detectron2/structures/__pycache__/masks.cpython-39.pyc
detectron2/structures/__pycache__/rotated_boxes.cpython-39.pyc
detectron2/utils/__pycache__/__init__.cpython-39.pyc
detectron2/utils/__pycache__/collect_env.cpython-39.pyc
detectron2/utils/__pycache__/colormap.cpython-39.pyc
detectron2/utils/__pycache__/comm.cpython-39.pyc
detectron2/utils/__pycache__/develop.cpython-39.pyc
detectron2/utils/__pycache__/env.cpython-39.pyc
detectron2/utils/__pycache__/events.cpython-39.pyc
detectron2/utils/__pycache__/file_io.cpython-39.pyc
detectron2/utils/__pycache__/logger.cpython-39.pyc
detectron2/utils/__pycache__/memory.cpython-39.pyc
detectron2/utils/__pycache__/registry.cpython-39.pyc
detectron2/utils/__pycache__/serialize.cpython-39.pyc
detectron2/utils/__pycache__/tracing.cpython-39.pyc
detectron2/utils/__pycache__/visualizer.cpython-39.pyc
datasets/__pycache__/custom_mapper.cpython-39.pyc
.gitignore
