


.nfs*
*.ipynb
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
**/__pycache__/**
.ipynb_checkpoints/
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode
*.png
*.JPEG
*.jpg
*.npy
*.zip

*.tar

work_dirs/
result/
datasets/kisane2coco/images/
mvdet/datasets/sample

!dataset/samples/*/*.png